## K Nearest Neighbors

In [1]:
import numpy as np
from sklearn import preprocessing, neighbors
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data =pd.read_csv(r"Hola\python-ml-course-master\datasets\cancer\breast-cancer-wisconsin.data.txt", header=None)

In [3]:
data.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [4]:
data.describe()

,0,1,2,3,4,5,7,8,9,10
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [5]:
data.columns= ["name", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9", "class"]

In [6]:
data.head()

      name  V1  V2  V3  V4  V5  V6  V7  V8  V9  class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [7]:
data= data.drop(["name"],1)

In [8]:
data.replace("?", -999999, inplace=True)

In [9]:
X= data[["V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9"]]
Y=data["class"]

## Clasificador de los K vecinos

In [10]:
#Entrenamiento
Xtrain, Xtest, Ytrain, Ytest= train_test_split(X, Y, test_size=0.2)

In [11]:
clf= neighbors.KNeighborsClassifier()

In [12]:
clf.fit(Xtrain, Ytrain)

KNeighborsClassifier()

In [13]:
accuracy= clf.score(Xtest, Ytest)
accuracy

0.9571428571428572

# # Clasificar nuevos datos

In [15]:
sample_measure = np.array([5,4,2,1,1,1,2,3,2])
print(sample_measure)
sample_measure = sample_measure.reshape(1,-1)
predict = clf.predict(sample_measure)

[5 4 2 1 1 1 2 3 2]

In [16]:
predict

array([2], dtype=int64)